body {
    background-color: #ff652f;
    margin: 0px;
    padding: 0px;
}

#header {
    height: 80px;
    background-color: #ee541c;
    width: 100%;
    position: fixed;
    top:20px;
}

ul {
    position:relative;
    bottom: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    float: right;
}

li {
    font-weight: bold;
    margin: 20px;
    font-family: 'Baloo Bhai', cursive;
}


.navbar a{
    text-decoration: none;
    color:black;
}

#em {
    color: rgb(0, 11, 48);
    font-family: 'Anton', sans-serif;
    text-align: middle;
    padding-left: 20px;
}

.sec1 {}
