    body {
    background-color: #ffffff;
    margin: 0px;
    width: 100%;
    padding: 0px;
}

main {
    position: relative;
    top: 80px;
    z-index: -10;
    width: 100%;
}

header {
    z-index: 10;
    position: fixed;
    width: 100%;
}

.navbar {
    height: 80px;
    background-color: #d0ebff;
    width: 100%;
    position: fixed;
    top: 0px;
}

#drop {
    background-color: #e5f1f9;
    position: fixed;
    top: 80px;
    width: 100%;
    height: auto;
    display: none;
}

#drop a {
    text-decoration: none;
    color: black;
}

.drop-l {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    border-bottom: #D0EBFD solid 3px;
}

.drop-l p {
    padding-left: 30px;
    margin-top: 10px;
}

#menu-list {
    position: relative;
    bottom: 10px;
    top: 10px;
    right: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    float: right;
}

button {
    position: relative;
    float: right;
    padding: 0px;
    top: 15px;
    width: 50px;
    height: 50px;
    right: 40px;
    display: none;
    background-color: transparent;
    border-style: none;
}

#men {
    width: 50px;
    margin: 0px;
}

li {
    font-weight: bold;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
}

.navbar a {
    text-decoration: none;
    color: black;
}

#em {
    margin-top: -10px;
    padding-left: 10px;
}

.contain {
    height: 10px;
    margin-bottom: 540px;
}

@media (max-width:700px) {
    #menu-list {
        display: none;
    }
    button {
        display: block;
    }
    svg {
        display: none;
    }
}

slider {
    display: block;
    width: 100%;
    padding: 80.5px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    margin: auto;
}

slider>* {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
    margin: auto;
    background-attachment: fixed;
}

slide:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url(1.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(2) {
    animation-delay: 2s;
    background-image: url(2.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(3) {
    animation-delay: 5s;
    background-image: url(3.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(4) {
    left: 0%;
    animation-delay: 8s;
    background-image: url(4.jpg);
    background-size: cover;
    background-position: center;
}

slide p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    text-align: center;
    font-display: auto;
    width: 100%;
    margin-top: 340px;
    color: #fff;
}

@keyframes slide {
    0% {
        left: 100%;
        width: 100%;
    }
    5% {
        left: 0%;
    }
    25% {
        left: 0%;
    }
    30% {
        left: -100%;
        width: 100%;
    }
    30.0001% {
        left: -100%;
        width: 0%;
    }
    100% {
        left: 100%;
        width: 0%;
    }
}

#about {
    margin-top: -20px;
    width: 100%;
    padding-top: 10px;
    margin-bottom: -66px;
    background-color: #4abdac;
    padding: 60px;
    background-image: url(q.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.text-center {
    font-size: 25px;
    text-align: center;
    word-spacing: 10px;
}

.emp {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 90px;
    font-weight: 900;
    text-shadow: 2px 2px 8px #228be6;
}

#clouds {
    margin-top: -28px;
}

#clouds path {
    fill: #0b7285;
}

#clouds1 {
    bottom: 0px;
    left: 0px;
}

#clouds1 path {
    fill: #1098ad;
}

#day1 {
    margin-top: -27px;
    background-color: #0b7285;
    margin-bottom: -99px;
    padding: 10px;
    align-content: center;
}

.day1t {
    color: rgb(19, 8, 8);
}

#day2 {
    margin-top: -28px;
    background-color: #1098ad;
    padding-bottom: 18px;
    padding: 20px;
    height: 400px;
    align-content: center;
}

.day2t {
    color: rgb(14, 2, 2);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 90px;
    width: 100%;
    color: white;
    text-shadow: 10px 10px 14px #000000;
    padding: 20px;
    margin: 0px;
    width: 100%;
    height: 165px;
}

.workshops {
    text-align: center;
}

.contact {
    text-align: center;
    padding-top: 10px;
    margin-top: -10px;
    margin-bottom: -20px;
    background-color: rgb(24, 104, 170);
}

.pl {
    position: relative;
    margin-top: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

#pe {
    margin: 25px;
}

.as {
    padding-top: 30px;
}
.text-back{
    padding-top:40px;
}

/* FOOTER */

.flex-container {
    display: flex;
    margin: 0px;
}

.flex-container>div {
    margin: 0px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    width: 100%;
    align-content: stretch;
}

.f_title {
    font-family: "Francois One", sans-serif;
    font-size: 40px;
}

.Empneo {
    font-family: "Macondo Swash Caps", cursive;
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding: 20px;
    margin: 0px;
    height: 165px !important;
}

.f_content {
    font-family: "Roboto Slab", serif;
    font-size: 23px;
}

.f_content:hover {
    text-decoration: none;
}

.Explore {
    padding: 40px;
    padding-left: 200px;
    font-size: 20px;
    height: 235px !important;
}

icons.hover {
    transform: scale(1.3);
    opacity: 0.4;
    transition: 0.2s all ease-in-out;
}

.flex-container1 {
    display: flex;
    margin: 0px;
    background-color: #212529;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex-container1>div {
    padding: 6px;
    width: 10%;
}

.copyrights {
    font-family: "Roboto Slab", serif;
    font-size: 23px;
    margin-top: -20px;
    color: #ced4da;
    text-shadow: 2px 2px 4px #000000;
}

.col-sm-3 {
    padding: 40px;
    font-size: 20px;
}

@media (max-width: 700px) {
    .flex-container {
        display: block;
    }
}

@media (max-width: 700px) {
    #menu-list {
        display: none;
    }
    button {
        display: block;
    }
    @media (max-width: 600px) {
        .pl {
            display: block;
            padding-bottom: 10px;
            margin-top: -100px;
        }
        .as {
            margin-top: -100px;
        }
    }
    @media (max-width: 600px) {
        #title {
            font-size: 40px;
            padding: 10px;
        }
    }
    @media (max-width: 600px) {
        .emp {
            font-size: 50px;
        }
        .workshops {
            width: 100%;
        }
    }
    @media (max-width: 600px) {
        #about {
            align-items: left;
            padding-left: 20px;
            min-width: 350px;
        }
    }
    @media (max-width: 600px) {
        #main {
            width: 100%;
        }
        .workshops {
            width: 100%;
        }
        .copyrights {
            width: 100%;
        }
        .day1t {
            margin-top: -100px;
        }
        .text-center {
            text-align: left;
            word-spacing: 1px;
            font-size: 20px;
        }
    }
