    body {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}

main{
    position: relative;
    top:80px;
    z-index: -10;
    width: 100%;
}
header{
    z-index: 10;
    position: fixed;
    width: 100%;
}


.navbar {
    height: 80px;
    background-color: #1864ab;
    width: 100%;
    position: fixed;
    top:0px;
}

#drop {
    background-color: #f48055;
    position: fixed;
    top: 80px;
    width: 100%;
    height: auto;
    display: none;
}


#drop a {
    text-decoration: none;
    color: black;
}

.drop-l {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    border-bottom: #ee541c solid thin;
}

.drop-l p {

    padding-left: 55px;
}
#menu-list {
    position: relative;
    bottom: 10px;
    top: 10px;
    right: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    float: right;
}

button {
    position: relative;
    float: right;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: solid;
    background-color: #ff652f;
    border-color: #777676;
    right: 50px;
    display: none;
}

#men {
    width: 20px;
}

li {
    font-weight: bold;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
}

.navbar a {
    text-decoration: none;
    color: black;
}

#em {
    color: rgb(0, 11, 48);
    font-family: 'Merriweather Sans', sans-serif;
    text-align: middle;
    padding-left: 60px;
}

.sec1 {}




@media (max-width:700px) {
    #menu-list {
        display: none;
    }
    button {
        display: block;
    }
}

#clouds {
    bottom: 0px;
    left: 0px;
}

#clouds path {
    fill: rgb(156, 14, 14);
}

#day1 {
    background-color: rgb(156, 14, 14);
    padding-bottom: 18px;
}

.day1t {
    color: #ffff;
}

#day2 {
    background-color: rgb(38, 130, 184);
    margin: 0;
    padding-bottom: 18px;
}

.day2t {
    color: rgb(14, 2, 2);
}

#bigTriangleColor1 path {
    margin: 0;
    fill: rgb(156, 14, 14);
}

#bigTriangleColor2 path {
    margin: 0;
    fill: rgb(38, 130, 184);
}

.workshops {
    text-align: center;
}

.contact {
    text-align: center;
    background-color: rgb(219, 17, 17);
}

.pl {
    position: relative;
    display: flex;
    list-style-type: none;
    ;
}

#pe {
    padding: 50px;

}
/* FOOTER */

.f_title {
  font-family: "Francois One", sans-serif;
  font-size: 40px;
}
.Empneo {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 90px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  padding:20px;
  margin: 0px;
  height: 165px !important;
}
.f_content {
  font-family: "Roboto Slab", serif;
  font-size: 23px;
 
}
.f_content:hover {
  text-decoration:none;
   
}
.Explore {
  padding: 40px;
  padding-left: 200px;
  font-size: 20px;
  height: 235px !important;
}
.icons :nth-child(odd):hover,
.icons :nth-child(even):hover {
  transform: scale(1.3);
  opacity: 0.4;
  transition: 0.2s all ease-in-out;
}
.copyrights {
  font-family: "Roboto Slab", serif;
  font-size: 23px;
  color: #ced4da;
  text-shadow: 2px 2px 4px #000000;
}
.col-sm-3 {
  padding: 40px;
  font-size: 20px;

#about {
    margin-bottom: -66px;
    background-color: #4abdac;

}

#clouds {
    margin-top: -28px;
}

#row{


#clouds path {
    fill: #76323F;
}

#clouds1 {
    bottom: 0px;
    left: 0px;
}

#clouds1 path {
    fill: rgb(38, 130, 184);
}

#day1 {
    margin-top: -27px;
    background-color: #76323F;
    margin-bottom: -99px;
}

.day1t {
    color: rgb(19, 8, 8);
}

#day2 {
    margin-top: -28px;
    background-color: rgb(38, 130, 184);
    padding-bottom: 18px;
}

.day2t {
    color: rgb(14, 2, 2);
}

#bigTriangleColor2 {
    margin-top: -1px;
}

#bigTriangleColor2 path {
    -top: -20px;
    fill: rgb(38, 130, 184);
}

.workshops {
    text-align: center;
}

.contact {
    text-align: center;
    height: 200px;
    background-color: rgb(219, 17, 17);
}

.pl {
    position: relative;
    display: flex;
    list-style-type: none;
}

#pe {
    text-align: center;
}


/* FOOTER */

.f_title {
    font-family: "Francois One", sans-serif;
    font-size: 40px;
}

.Empneo {
    font-family: "Macondo Swash Caps", cursive;
    font-size: 90px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding: 20px;
    margin: 0px;
    height: 165px !important;
}

.f_content {
    font-family: "Roboto Slab", serif;
    font-size: 23px;
}

.f_content:hover {
    text-decoration: none;
}

.Explore {
    padding: 40px;
    padding-left: 200px;
    font-size: 20px;
    height: 235px !important;
}

.icons :nth-child(odd):hover,
.icons :nth-child(even):hover {
    transform: scale(1.3);
    opacity: 0.4;
    transition: 0.2s all ease-in-out;
}



.col-sm-3 {
    padding: 40px;
    font-size: 20px;
}

.f_title {
    font-family: "Francois One", sans-serif;
    font-size: 40px;
}

.Empneo {
    font-family: "Macondo Swash Caps", cursive;
    font-size: 90px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding: 20px;
}

.f_content {
    font-family: "Roboto Slab", serif;
    font-size: 23px;
}

.f_content:hover {
    text-decoration: none;
}

.Explore {
    padding: 40px;
    padding-left: 200px;
    font-size: 20px;
}

.icons :nth-child(odd):hover,
.icons :nth-child(even):hover {
    transform: scale(1.3);
    opacity: 0.4;
    transition: 0.2s all ease-in-out;

}

.copyrights {
    font-family: "Roboto Slab", serif;
    font-size: 23px;
    color: #ced4da;
    text-shadow: 2px 2px 4px #000000;
    @media (max-width: 700px) {
        #menu-list {
            display: none;
        }
        button {
            display: block;
        }
    }
