body {
    background-color: #ff652f;
    margin: 0px;
    padding: 0px;
}

.navbar {
    height: 80px;
    background-color: #ee541c;
    width: 100%;
    position: fixed;
}
#drop{
    position: fixed;
    top:80px;
}
#menu-list {
    position:relative;
    bottom: 10px;
    top:10px;
    right: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    float: right;
}

button{
    position:relative;
    float: right;
    top:20px;
    width:40px;
    height: 40px;
    border-radius: 50%;
    border-style: solid;
    background-color: #ff652f;
    border-color: #777676;
    right: 50px;
    display: none;
}
#men{
    width:20px;
}
li {
    font-weight: bold;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
}
#drop{
    width:100%;
    height: auto;
    border-bottom: black solid thin;
    display: none;
}

#drop-list{
    list-style: none;
}
#drop-list a{
    text-decoration: none;
    color: black;
}
.navbar a{
    text-decoration: none;
    color:black;
}

#em {
    color: rgb(0, 11, 48);
    font-family: 'Merriweather Sans', sans-serif;
    text-align: middle;
    padding-left: 60px;
}

.sec1 {}

@media (max-width:700px){
    #menu-list{
        display: none;
    }
    button{
        display: block;
    }
}
html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
   }
   
   slider {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
   }
   
   slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
   }
   
   slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-image: url(1.jpg);
    background-size: cover;
    background-position: center;
   }
   
   slide:nth-child(2){
    animation-delay: 2s;
    background-image: url(2.jpg);
    background-size: cover;
    background-position: center;
   }
   
   slide:nth-child(3){
    animation-delay: 5s;
    background-image: url(3.jpg);
    background-size: cover;
    background-position: center;
   }
   
   slide:nth-child(4){
    left: 0%;
    animation-delay: 8s;
    background-image: url(4.jpg);
    background-size: cover;
    background-position: center;
   }
   
   slide p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 340px;
    color: #fff;
   }
   
   @keyframes slide {
    0% { left: 100%; width: 100%; }
    5% { left: 0%; }
    25% { left: 0%; }
    30% { left: -100%; width: 100%; }
    30.0001% { left: -100%; width: 0%; }
    100% { left: 100%; width: 0%; }
   }
